node_modules/
dist/
.cache/

# important files, but would make repository waaay too big
static/art/

data/*-tags.json

# Production files like secrets
*.prod

# Static files in PHP dev folder
www/php/public/*
!www/php/public/newsletter/
!www/php/public/newsletter/**
