$blog-nav-width: 30rem;
$mobile-menu-height: 3.5rem;
$blog-content-width: 50rem;

@mixin toc-visible {
  left: unset;
  top: unset;
  width: unset;
  height: unset;
  overflow: visible;
}

.markdown {
  line-height: 1.6;

  // List items that start with a strong element get some extra spacing inbetween
  li:first-child > strong:first-child {
    display: inline-block;
    margin-bottom: 0.15em
  }

  li:not(:first-child) > strong:first-child {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.15em
  }

  p {
    line-height: 1.6;
  }

  code {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
    font-family: Consolas, monospace;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
  }


  pre {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1em;
    font-family: Consolas, monospace;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    overflow-x: auto;

    &>code {
      background-color: unset;
      font-size: inherit;
      font-family: inherit;
      padding: 0;
      border-radius: unset;
    }
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  li {
    padding-left: 0.2em;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }

  li>ul:first-child,
  li>ol:first-child {
    margin-top: 0.25em;
  }

  ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol {
    list-style-type: lower-latin;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  table {
    border-spacing: 0;

    td,
    th {
      padding: 0.4em 0.8em;
    }

    tr>th {
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.6);
    }

    tr:not(:last-child)>td {
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
}

.blog-text {
  p,
  li {
    max-width: $blog-content-width;
  }

  img {
    max-width: 60rem;
  }

  blockquote,
  .marginalia {
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 0.3em solid rgba(255, 255, 255, 0.3);
    margin: 1em 0;
    padding: 0.5em 1em 0.5em 1.5em;
    border-radius: 0.5em;
    max-width: $blog-content-width;

    &>*:first-child {
      margin-top: 0;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.5rem;
  }

  .drop-cap {
    float: left;
    font-size: 5.5em;
    line-height: 0.8;
    padding-right: 0.05em;
  }

  .lead-text {
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.5;
  }

  .toc {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus,
    &:focus-within {
      position: static;
      @include toc-visible;
    }
  }
}

.blog-nav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  width: 80vw;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;

  &:target,
  &.expanded {
    display: unset;

    .blog-nav-body {
      height: auto;
    }

    .blog-nav-icon {
      transform: rotate(90deg);
    }
  }

  ul,
  ol {
    //padding-left: 1rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }

  li>ul:first-child,
  li>ol:first-child {
    margin-top: 0.25em;
  }

  a {
    text-decoration: none;
  }
}

.blog-nav-header {
  border-bottom: 0.1rem solid #555555;
}

.blog-nav-expander {
  display: block;
  padding: 1rem 2rem;
  color: currentColor;
  text-decoration: none;
  font-weight: bold;

  &:visited,
  &:active,
  &:visited:active {
    color: unset;
  }
}

.blog-nav-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin-left: -0.6rem;
}

.blog-nav-body {
  padding: 1rem;
  font-size: 0.9rem;
  transition: height 0.1s ease-in;
  overflow-y: auto;
  box-sizing: border-box;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
}

.page-list-item-active {
  font-weight: bold;
}

.blog-heading-anchor {
  text-decoration: none;
  padding: 0 0.25em;
  opacity: 0.6;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.blog-header {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  border-bottom: solid 0.1rem #555;
}

.blog-mobile-menu {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  border-bottom: 0.1rem solid #666;
  height: $mobile-menu-height;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;

  &>*:not(:last-child) {
    margin-right: 0.5rem;
    ;
  }
}

.blog-mobile-menu-title {
  font-size: 1.5rem;
  line-height: 1;
  white-space: nowrap;
  color: unset;
  text-decoration: none;

  &:visited {
    color: unset;
  }
}

.blog-mobile-menu-title-main {
  font-weight: bold;
}

.blog-mobile-menu-title-extra {
  font-weight: lighter;
  opacity: 0.6;
}

.blog-mobile-menu-link {
  margin-left: auto;
}

.blog-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog-nav-content {
  background-color: #222;
  position: relative;
  z-index: 100;
  height: 100%;
  overflow-y: auto;
}

.blog-nav-backdrop {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 86, 171, 0.5);
}

.blog-main {
  padding: ($mobile-menu-height + 0.75rem) 4vw;
}

@media (min-width: 1200px) {
  .blog-text {
    font-size: 1.2rem;

    p {
      line-height: 1.7;
    }
  }

  .blog-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: $blog-nav-width;
    box-sizing: border-box;

    &::before {
      position: absolute;
      left: -100vw;
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .blog-nav-content {
    height: 100vh;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
  }

  .blog-nav-header {
    display: none;
  }


  .blog-nav-body {
    font-size: unset;
    padding: 1rem 2rem;
    height: auto;
  }

  .blog-main {
    padding-top: 1rem;
    padding-left: calc(#{$blog-nav-width} + 4vw);
    padding-right: 4vw;
  }

  .blog-layout {
    display: flex;
    flex-flow: row nowrap;
  }

  .blog-nav-backdrop {
    display: none;
  }

  .blog-mobile-menu {
    display: none;
  }
}

@media (min-width: 1720px) {
  $column-width: 50rem;
  $margin-gap: 3rem;

  .blog-text {
    position: relative;
    padding-right: calc(100% - #{$column-width});

    .toc,
    .toc:focus,
    .toc:focus-within {
      // This class must come before .marginalia in the stylesheet so position attributes get overwritten.
      position: unset;
      @include toc-visible;
    }

    .marginalia.marginalia {
      // Before the breakpoint, marginalie look just like blockquotes. We need to unset this now.
      background-color: unset;
      margin: 0;
      padding: 0 0 0 1em;
      border-radius: unset;

      position: absolute;
      left: $column-width + $margin-gap;
      max-width: 20rem;
      font-size: 0.9em;
      border-left: 0.05em solid #666;
      padding-left: 1em;

      &>*:first-child {
        margin-top: 0;
      }

      &>*:last-child {
        margin-bottom: 0;
      }
    }
  }
}