.comment-confirmer::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.comment-confirmer {
  border: none;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  font-family: sans-serif;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  input,
  button {
    padding: 8px;
    font-size: 1em;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}