// The prefix 'bi' is short for 'bear icon'. Because the creator of this site is a big bear!

.tool-bar {
  display: flex;
  flex-flow: row wrap;

  &>*:not(:last-child) {
    margin-right: 0.25em;
  }

  & + & {
    margin-top: -0.25em;
  }
}

.comment-canvas {
  /* TODO: Add small padding around canvas, so you can actually fill in pixels at the corners and edges */
  padding: 0rem;
  box-shadow: 0 0 0 0.1em black;
}

#comment-drawer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 1rem auto;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

[data-control-id=comment-board] {
  display: flex; // Removes whitespace from underneath canvas
}

.comment-drawer-inner {
  display: inline-flex;
  flex-flow: column nowrap;
  width: 20em;
  height: 14.5em;

  &>*:not(:last-child) {
    margin-bottom: 0.6em;
  }
}

.row-button-group {
  display: flex;
  flex-direction: row nowrap;

  .row-multi-button:first-child .row-button-label,
  .row-button:first-child {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
  }

  .row-multi-button:last-child .row-button-label,
  .row-button:last-child {
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
  }

  .row-multi-button:not(:last-child) .row-button-label,
  .row-button:not(:last-child) {
    border-right-color: #333;
  }
}

.row-multi-button {
  display: inline-block;
}

.row-button,
.row-button-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4em;
  height: 1.75em;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 0.05em solid transparent;
  background-color: #444;
  user-select: none;
  font-size: inherit; // Important for <button>
  box-sizing: border-box;

  &:hover:not([disabled]) {
    background-color: white;
  }

  &:active:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.row-button[disabled] {
  opacity: 0.2;
}

.positive-button {
  background-color: rgb(134, 244, 154);

  &:hover {
    background-color: rgb(196, 251, 206);
  }

  &:active {
    background-color: rgb(79, 235, 108);
  }
}

.negative-button {
  background-color: rgb(255, 161, 161);

  &:hover {
    background-color: rgb(251, 196, 196);
  }

  &:active {
    background-color: rgb(255, 128, 128);
  }
}

.at-end {
  margin-left: auto;
}

.row-button-radio {
  display: none;

  &:checked+.row-button-label {
    background: #ffcc00;
  }

  &+* .row-button-icon {
    opacity: 0.3;
  }

  &:checked+* .row-button-icon {
    opacity: 1;
  }
}

.row-button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.row-button-icon {
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
  background-image: url("/media/tools/comment-drawer-icons.png");
  background-size: 128px 80px;
  display: inline-block;
}

@for $i from 1 through 10 {
  [data-scale="#{$i}"] {
    font-size: 1rem * $i;

    .row-button-icon {
      width: 16px * $i;
      height: 16px * $i;
      background-size: (128px * $i) (80px * $i);
    }
  }
}

$sprites: (
  ("pen-1", 0, 0, 7, 4),
  ("pen-2", 1, 0, 7, 4),
  ("pen-3", 2, 0, 7, 4),
  ("pen-4", 3, 0, 7, 4),
  ("pen-5", 4, 0, 7, 4),
  ("pen-6", 5, 0, 7, 4),

  ("eraser-1", 0, 1, 7, 4),
  ("eraser-2", 1, 1, 7, 4),
  ("eraser-3", 2, 1, 7, 4),
  ("eraser-4", 3, 1, 7, 4),
  ("eraser-5", 4, 1, 7, 4),
  ("eraser-6", 5, 1, 7, 4),

  ("pattern-1", 0, 2, 7, 4),
  ("pattern-2", 1, 2, 7, 4),
  ("pattern-3", 2, 2, 7, 4),
  ("pattern-4", 3, 2, 7, 4),
  ("backward", 4, 2, 7, 4),
  ("forward", 5, 2, 7, 4),
  ("about", 6, 2, 7, 4),
  ("fullscreen", 7, 2, 7, 4),

  ("undo", 0, 3, 7, 4),
  ("redo", 1, 3, 7, 4),
  ("save", 2, 3, 7, 4),
  ("play", 3, 3, 7, 4),
  ("accept", 4, 3, 7, 4),
  ("deny", 5, 3, 7, 4),
  ("submit", 6, 3, 7, 4),
  ("clear", 7, 3, 7, 4),

  ("undo-inactive", 0, 4, 7, 4),
  ("redo-inactive", 1, 4, 7, 4),
  ("save-inactive", 2, 4, 7, 4),
  ("play-inactive", 3, 4, 7, 4),
  ("accept-inactive", 4, 4, 7, 4),
  ("deny-inactive", 5, 4, 7, 4),
  ("submit-inactive", 6, 4, 7, 4),
  ("clear-inactive", 7, 4, 7, 4),
);

@mixin sprite-class($name, $x, $y, $width, $height) {
  .bi-#{$name} {
    background-position: calc(#{$x} / #{$width} * 100%) calc(#{$y} / #{$height} * 100%);
  }
}

@each $sprite in $sprites {
  $name: nth($sprite, 1);
  $x: nth($sprite, 2);
  $y: nth($sprite, 3);
  $width: nth($sprite, 4);
  $height: nth($sprite, 5);
  @include sprite-class($name, $x, $y, $width, $height);
}

.comment-replayable {
  width: 320px;
  height: 120px;
  position: relative;
  display: inline-block;

  canvas {
    display: inline-block;
  }
}