@use "sass:math";
@use "./text.scss";

$gallery-bar-height: 5rem;
$gallery-bar-height-mobile: 9rem;
$gallery-sidebar-width: 25rem;
$gallery-nav-width: 20%;

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#gallery-container {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}

.gallery-main {
  position: relative;
  width: 100vw;
  height: calc(100% - #{$gallery-bar-height-mobile});
}

.gallery-info {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: calc(50% - #{$gallery-bar-height-mobile * 0.5});
  padding: 1rem;
  box-sizing: border-box;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }
}

.gallery-mainbar {
  position: fixed;
  height: $gallery-bar-height-mobile;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  background-color: #555;
  box-shadow: 0 -1.5rem 3rem rgba(0, 0, 0, 0.35);
}

.gallery-mainbar-status {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &>*:not(:last-child) {
    //margin-right: 1rem;
  }

  &>*:last-child {
    //margin-left: auto;
  }
}

.gallery-viewbox {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.gallery-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  width: calc(100% - 7rem);

  &>*:not(:last-child) {
    //margin-right: 0.4em;
  }

  &>* {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}

.gallery-label-main {
  font-size: 1rem;
  margin: 0;
}

.gallery-label-note {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.75;
}

.gallery-next,
.gallery-previous {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  min-width: 4rem;
  max-width: 12rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.gallery-next {
  right: 0;
}

.gallery-previous {
  left: 0;
}

.gallery-button {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;

  &[disabled] {
    opacity: 0.4;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
  }

  &.square {
    width: 3.5em;
    height: 3.5em;
  }
}

.gallery-button-icon-content {
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery-mainbar-nav {
  display: flex;
  flex-flow: row nowrap;
  $gap: 1rem;
  margin-left: $gap * -0.5;
  margin-right: $gap * -0.5;

  &>* {
    margin-left: $gap * 0.5;
    margin-right: $gap * 0.5;
    flex: 1 1 0%;
  }
}

.gallery-mainbar-nav-button {
  height: 3.5em;
  color: white;
  text-decoration: none;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  box-sizing: border-box;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
  }
}

.gallery-mainbar-nav-icon {
  font-size: 1.5rem;
  align-items: center;
}

.gallery-mainbar-nav-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  max-height: 2.4em;
  @include text.ellipsis(2);
}

.gallery-mainbar-previous {
  .gallery-mainbar-nav-icon {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
  }
}

.gallery-mainbar-next {
  justify-content: flex-end;

  .gallery-mainbar-nav-icon {
    margin-left: auto;
    margin-left: 0.5rem;
    margin-right: -0.25rem;
  }

  .gallery-mainbar-nav-label {
    text-align: right;
  }
}

#gallery-container.info-expanded {
  .gallery-main {
    height: calc(50% - #{$gallery-bar-height-mobile * 0.5});
  }

  .gallery-info {
    display: block;
  }
}

@media (min-width: 960px) {
  .gallery-label {
    padding-left: calc(#{$gallery-nav-width} + 2rem);
    padding-right: calc(#{$gallery-nav-width} + 2rem);
  }

  .gallery-label-main,
  .gallery-label-note {
    font-size: 1.25rem;
  }

  .gallery-button {
    font-size: 1rem;
    padding: 0.2em 0.5em;
  }

  .gallery-mainbar {
    position: absolute;
    bottom: unset;
    top: 0;
    background-color: unset;
    height: $gallery-bar-height;
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.15);
  }

  .gallery-main {
    height: 100%;
  }

  #gallery-container.info-expanded {
    .gallery-main {
      height: 100%;
      width: calc(100vw - #{$gallery-sidebar-width});
    }
  }

  .gallery-viewbox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - #{$gallery-bar-height});
  }

  .gallery-info {
    position: absolute;
    width: $gallery-sidebar-width;
  }

  .gallery-mainbar-nav-button {
    position: absolute;
    top: 0.7rem;
    width: $gallery-nav-width;
  }

  .gallery-mainbar-previous {
    left: 5rem;
  }

  .gallery-mainbar-next {
    right: 5rem;
  }
}