html {
  font-family: 'Inter', 'Segoe UI', Helvetica, Ubuntu, sans-serif;
  background-color: #222;
  color: white;
  min-height: 100%;
}

a {
  color: #32CFFF;

  &:active,
  &:active:visited {
    color: #19FFFF;
  }

  &:visited {
    color: #19A7FF;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.container-text {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.container-blog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container-newspaper {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  column-count: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  &>*:not(:last-child) {
    margin-right: 0.25em;
  }

  &.spaced-items>*:not(:last-child) {
    margin-right: 1em;
  }
}

.button-primary,
.button-secondary,
.button-danger,
.button-like {
  font-size: 0.9em;
  border: none;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
}

.button-primary {
  background-color: #19A7FF;
  color: black;

  &:hover {
    background-color: #32CFFF;
  }

  &:active {
    background-color: #0756AB;
    color: white;
  }
}

.button-secondary {
  background-color: #191919;
  color: white;

  &:hover {
    background-color: #111111;
  }

  &:active {
    background-color: #111;
  }
}

.button-danger {
  background-color: #cc2f2f;
  color: white;

  &:hover {
    background-color: #e25327;
  }

  &:active {
    background-color: #9a1e2b;
    color: white;
  }
}

.button-like {
  border-color: transparent;
}

.input {
  background-color: #222;
  color: white;
  font-size: 0.9em;
  border: 0.1em solid #888;
  padding: 0.6em 1em;
  border-radius: 0.5em;

  &:not(:placeholder-shown) {
    border-bottom-width: 0.2em;
    border-bottom-color: #19A7FF;
    padding-bottom: 0.5em;
  }

  &.error {
    border-bottom-width: 0.2em;
    border-bottom-color: red;
    padding-bottom: 0.5em;
  }
}

.label {
  display: inline-block;
  margin-bottom: 0.4em;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 0;
  align-items: center;
  text-decoration: none;

  strong {
    margin: 0;
  }
}


.table-container {
  overflow-x: auto;
  max-width: 100%;

  &.flush {
    max-width: calc(100% + 2em);
    margin: -1em;
  }
}

.table-striped {
  border-collapse: separate;
  border-spacing: 0;

  thead th {
    position: sticky;
    top: 0;
    background-color: #111;
    border-right: 0.1rem solid #888;
  }

  th,
  td {
    text-align: start;
    border-bottom: 0.1rem solid #888;
    border-right: 0.2rem dotted #333;
    padding: 0.5rem 1rem;
  }

  td>img,
  td>.comment-replayable {
    border: 0.1rem solid black;
  }

  .entry {
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
  }

  .null,
  .null-optional {
    display: inline-block;
    border-radius: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .null {
    background-color: rgba(255, 0, 0, 0.2);
  }

  .null-optional {
    background-color: rgba(255, 136, 0, 0.2);
  }

  .faulty td {
    background-color: rgba(255, 0, 0, 0.1);
  }

  .actions-cell a {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 720px) {
  .container-newspaper {
    max-width: 40rem;
    column-count: 2;
  }
}

@media (min-width: 1080px) {
  .container-newspaper {
    max-width: 60rem;
    column-count: 3;
  }
}

@media (min-width: 1440px) {
  .container-newspaper {
    max-width: 80rem;
    column-count: 4;
  }
}

@media (min-width: 1800px) {
  .container-newspaper {
    max-width: 100rem;
    column-count: 5;
  }
}

@media (min-width: 2160px) {
  .container-newspaper {
    max-width: 120rem;
    column-count: 6;
  }
}