body.scroll-locked {
  position: fixed;
  width: 100%;
}

.lightbox {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 100vw;
  height: 100vh;

  &::after {
    // We need this workaround because Firefox can't animate ::backdrop ugh
    content: "";
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 300ms ease,
  }

  &::backdrop {}

  &.opened {
    .lightbox-image {
      box-shadow: 0 0 8vw rgba(0, 0, 0, 1);
    }

    &::after {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.lightbox-image {
  position: absolute;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  transition:
    box-shadow 300ms ease,
    transform 300ms ease,
    width 300ms ease,
    height 300ms ease,
    left 300ms ease,
    top 300ms ease;
  cursor: zoom-out;
}