.media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 1;
  column-gap: 2rem;
}

.media-list-item {
  margin-bottom: 0.5rem;
}

.media-list-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: unset;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;

  &:visited,
  &:active,
  &:visited:active {
    color: unset;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.media-list-item-figure {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  flex: 0 0 6rem;
}

.media-list-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem
}

.media-list-item-title {
  margin-right: 0.5rem;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-list-item-aside {
  display: none;
  flex-flow: row nowrap;
  align-items: baseline;
  color: #888888;
  overflow-x: hidden;

  &>*:not(:last-child) {
    padding-right: 0.25rem;
    margin-right: 0.25rem;

    &::after {
      content: "/";
    }
  }
}

@media (min-width: 720px) {
  .media-list {
    column-count: 2;
  }
}

@media (min-width: 960px) {
  .media-list-item-aside {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .media-list {
    column-count: 3;
  }
}

@media (min-width: 2160px) {
  .media-list {
    column-count: 4;
  }
}
