.page-header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-header-content {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.page-header-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.page-header-subtitle {
  font-size: 2em;
  font-weight: lighter;
  opacity: 0.6;
  margin: 0 0 0 0.25em;
  line-height: 1;
}

.page-header-nav {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.header-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > * {
    display: inline-block;
  }

  & > *:not(:last-child) {
    margin-right: 1em;
  }
}

@media (min-width: 960px) {
  .page-header-title,
  .page-header-subtitle {
    font-size: 3em;
  }
}
