.tag-helper {
  position: relative;
}

/* Style for the popup */
.tag-helper-popup {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

/* Style for autocomplete suggestions */
.tag-helper-suggestion {
  padding: 10px;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #f1f1f1;
  }  
}
