@mixin ellipsis($max-lines) {
  // Based on https://stackoverflow.com/a/50566101/8177138/css-ellipsis-on-second-line by Nicholas, 2018-05-28
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: #{$max-lines}) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $max-lines;
    -webkit-box-orient: vertical;
  }
}
