@use "sass:math";

.unlocker {
  background-color: #333;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.unlocker-icon {
  transform-style: preserve-3d;
  transform: rotateZ(45deg) rotateX(0deg);
  // Visual balance bc key base is larger than key teeth
  position: relative;
  top: 0.3em;
  left: 0.3em;

  &.working {
    animation: flip-key 2s linear infinite;
  }
}

.unlocker-main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}

.unlocker-label {}

.unlocker-password {
  min-width: 6em;
  flex-shrink: 1;
}

.unlocker-button {}

.unlocker-aside {
  display: block;
  width: 100%;
}

.unlocker-status {
  display: block;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em 0;
}

.unlocker-progress-bar {
  $hlw: 160px; // hlw = highlight width

  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 0.5em;
  border-radius: 999px;
  overflow: hidden;
  background: #0b1b34;
  border: none;

  .unlocker-progress-value {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    background: radial-gradient(#{$hlw} 100% at #{$hlw} center,
      #32CFFF 0%,
      #19A7FF #{$hlw * 0.4},
      #0756AB #{$hlw}),
    linear-gradient(#0756AB, #0756AB);
    background-repeat: no-repeat;
    background-size: #{$hlw * 2} 100%,
    100% 100%;
    animation: glow-move 1.2s linear infinite;
    border-radius: 999px;
  }

  @keyframes glow-move {
    from {
      background-position: #{$hlw * -2} 0,
      0 0;
    }

    to {
      background-position: calc(100% + #{$hlw * 2}) 0,
      0 0;
    }
  }
}


@keyframes flip-key {
  from {
    transform: rotateZ(45deg) rotateX(0deg);
  }

  to {
    transform: rotateZ(45deg) rotateX(360deg);
  }
}
