$white: #ffffff;
$black: #000000;
$accent: #19A7FF;
$accent-dark: #0756AB;

// Gray
$gray-00: $black;
$gray-13: #222;
$gray-20: #333;
$gray-26: #444;
$gray-40: #666;
$gray-60: #999;
$gray-93: #eee;
$gray-100: $white;
