.version-list {

}

.version-list-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    height: 0;
    border-bottom: 0.05em solid #666;
  }

  &:first-child > .version-list-header {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  &:last-child > .version-list-header {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

.version-list-cell {
  padding: 0.5em 2em;
  box-sizing: border-box;
}

.version-list-header {
  background-color: #181818;
  flex: 0 0 20rem;
  text-align: right;
}

.version-list-title {

}

.version-list-subtitle {

}

.version-list-cell {

}
