<template>
  <header class="header-square">
    <div class="header-square-content">
      <div class="text-row big-font">
        <div class="text-col bold-font">
          Krank&nbsp;
        </div>
        <div class="text-col light-font">
          <ul class="blank-list">
            <li><a class="pristine-link" href="art">furry&hairsp;art</a></li>
            <li><a class="pristine-link" href="blog">blog</a></li>
            <!--<li><a class="pristine-link" href="">gifts</a></li>-->
            <li><a class="pristine-link" href="changelog">changelog</a></li>
            <li><a class="pristine-link" href="about">love</a></li>
          </ul>
        </div>
      </div>
      <aside class="icon-box">
        <ul class="icon-list">
          <li><a class="icon-link" href="https://github.com/krank-art" rel="external">
              <span class="icon">{{> icon-github }}</span></a></li>
          <li><a class="icon-link" href="https://twitter.com/Krankomat96" rel="external">
              <span class="icon">{{> icon-twitter }}</span></a></li>
          <li><a class="icon-link" href="https://discordapp.com/users/krank.art" rel="external">
              <span class="icon">{{> icon-discord }}</span></a></li>
          <li><a class="icon-link" href="https://www.furaffinity.net/user/krankthebear" rel="external">
              <span class="icon">{{> icon-furaffinity }}</span></a></li>
          <li><a class="icon-link" href="https://www.tumblr.com/krankomat" rel="external">
              <span class="icon">{{> icon-tumblr }}</span></a></li>
        </ul>
      </aside>
    </div>
  </header>
</template>

<style>

</style>

<script>
</script>