<template>
  <header class="header-square">
    <div class="header-square-content">
      <div class="text-row big-font">
        <div class="text-col bold-font">
          Krank&nbsp;
        </div>
        <div class="text-col light-font">
          <ul class="blank-list">
            <li><a class="pristine-link" href="art">furry&hairsp;art</a></li>
            <li><a class="pristine-link" href="blog">blog</a></li>
            <!--<li><a class="pristine-link" href="">gifts</a></li>-->
            <li><a class="pristine-link" href="changelog">changelog</a></li>
            <li><a class="pristine-link" href="about">love</a></li>
          </ul>
        </div>
      </div>
      <aside class="icon-box">
        <ul class="icon-list">
          <li class="icon">{{> icon-github }}</li>
          <li class="icon">{{> icon-twitter }}</li>
          <li class="icon">{{> icon-discord }}</li>
        </ul>
      </aside>
    </div>
  </header>
</template>

<style>

</style>

<script>
</script>