<template>
  <footer class="page-footer">
    Each&nbsp;character&nbsp;depicted&nbsp;belongs to&nbsp;their&nbsp;respective&nbsp;owner.<br>
    <ul class="footer-list">
      {{#each footerLinks}}
      <li><a class="{{this.active}}" href="{{this.link}}">{{this.title}}</a></li>
      {{/each}}
    </ul>
    Krank &copy; {{currentYear}}
  </footer>
</template>

<style>

</style>

<script>
</script>
