<template>
  <header class="page-header">
    <h1 class="page-header-title">Krank</h1>
    <p class="page-header-subtitle">furry&hairsp;art</p>
  </header>
</template>

<style>

</style>

<script>

</script>
