<template>
  <header class="page-header">
    <div class="page-header-content">
      <h1 class="page-header-title">Krank</h1>
      <p class="page-header-subtitle">furry&hairsp;art</p>
    </div>
    <div class="page-header-nav">
      {{> header-nav links=headerLinks}}
    </div>
  </header>
</template>

<style>

</style>

<script>

</script>