<template>
  <header class="header-logo">
    <div class="header-logo-content">
      <h1 class="header-logo-title">Krank</h1>
      <p class="header-logo-subtitle">furry&hairsp;art</p>
    </div>
    <div class="header-logo-nav">
      {{> header-nav links=headerLinks}}
    </div>
  </header>
</template>

<style>

</style>

<script>

</script>