<template>
  <button class="simple-tag"><span class="simple-tag-head">&ZeroWidthSpace;</span><span class="simple-tag-body">{{ label
      }}</span>
  </button>
</template>

<style>
</style>

<script>
</script>