<template>
  <button class="simple-tag" {{#if tagId}} data-tag-id="{{tagId}}" {{/if}}><span
      class="simple-tag-head">&ZeroWidthSpace;</span><span class="simple-tag-body">{{ label
      }}</span>{{#if aside}}&nbsp;<span class="simple-tag-aside">{{aside}}</span>{{/if}}
  </button>
</template>

<style>
</style>

<script>
</script>