<template>
  <div class="unlocker">
    <div class="unlocker-main">
      <label class="unlocker-label" for="nsfw-password">
        <img class="unlocker-icon" src="/media/tools/bear-key.svg" alt="Enter password">
      </label>
      <input class="unlocker-password input" type="password" name="nsfw-password">
      <button class="unlocker-button button-primary" type="button">Unlock</button>
    </div>
    <label class="unlocker-aside">
      <span class="unlocker-status">Unlocking posts...</span>
      <progress class="unlocker-progress" value="70" max="100">70 %</progress>
    </label>
  </div>
</template>

<style>
</style>

<script>
</script>