#Options -MultiViews
#RewriteEngine on
#   MultiViews off
#Options +FollowSymLinks -MultiViews
RewriteEngine On
DirectorySlash Off
#RewriteOptions AllowNoSlash

# If requested resource exists as a file or directory go to it
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [L]

# Force HTTPS and remove WWW
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
#RewriteCond %{HTTPS} off  
#RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=302,L]

# No trailing slash policy (but ignores https://example.com/en/ and https://example/de/) 
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} (.+)/$
#RewriteRule ^ %1 [R=302,L]

# Display views https://example.com/about instead of https://example.com/about.html
#RewriteRule ^(?!.*\.\w{2,5}(\/|$)).+ $1.html [L]
RewriteRule ^(?!.*\.\w{2,5}$)(.+) $1.html [L]
#RewriteRule ^changelog$ changelog.html [L]

# Display error page (TODO)
#ErrorDocument 404 /404.php
