<template>
  <main class="container">
    <h1>{{ modelItem.title }}</h1>
    <img class="gallery-image" src="../media/{{modelItem.fileName}}" alt="{{modelItem.title}}">
  </main>
</template>

<style>
</style>

<script>
  const module = {
    layout: "default",
    type: "dynamic",
    model: "mediaArt",
    data: {
      title: "Krank",
    }
  };
  module
</script>