<template>
  <main class="container-blog">
    <div class="blog-layout">
      <nav id="blog-nav" class="blog-nav">
        <div class="blog-nav-content">
          <div class="blog-header">
            {{> page-header}}
          </div>
          <!--
          <div class="blog-nav-header">
            <a class="blog-nav-expander" href="#blog-nav"><span class="blog-nav-icon">&#9654;</span>Show blog pages</a>
          </div>
          -->
          <div class="blog-nav-body">
            <slot name="aside">Sidebar</slot>
            <!--{{> page-list items=blogPages}}-->
          </div>
        </div>
      </nav>
      <div class="container-blog blog-text blog-main">
        <slot name="main">Main</slot>
        {{{content}}}
        {{> page-footer}}
      </div>
    </div>
  </main>
</template>

<style>
</style>

<script>
  const treeNode = path.tree.find(page => page.path === "blog");
  const blogPages = treeNode?.children ?? [];
  const traversePage = (page) => {
    page.active = page.absolutePath === path.absolute;
    for (const child of page.children)
      traversePage(child);
  }
  for (const page of blogPages)
    traversePage(page);
  export default {
    layout: "default",
    blogPages: blogPages,
  }
</script>