<template>
  <main class="container">
    {{> page-header}}
    <div class="container-text blog-text">
      {{{content}}}
      {{> page-footer}}
    </div>
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
  }
</script>