<template>
  <main class="container">
    {{> page-header}}
    <div class="container-text">
      test
      {{> page-footer}}
    </div>
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    data: {
      title: "Krank",
    }
  };
</script>