<template>
  <main class="container">
    {{> page-header}}
    <div class="container-text">
      <h1 class="sr-only">About</h1>
      test
      {{> page-footer}}
    </div>
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    data: {
      title: "About \u2013 Krank",
      metaImage: siteThumbnail,
      metaTitle: "About \u2013 Krank Art",
      metaSubtitle: "The myth, the man, the legend. ",
      metaAlt: siteThumbnailAlt,
      metaColor: siteColor,
    }
  };
</script>