<template>
  <h1>Welcome!</h1>
  <p>
    This blog of mine is a dumping ground for game design documents for imaginary games, notes on coding and recipes
    (yum!).
    Basically things that most furries find important.
  </p>
  <p>To get started, simply select any article in the sidebar.</p>
</template>

<style>
</style>

<script>
  const treeNode = path.tree.find(page => page.path === "blog");
  export default {
    layout: "blog",
    title: "Blog",
    pageTitle: "Blog \u2013 Krank",
    metaImage: siteThumbnail,
    metaTitle: "Blog \u2013 Krank Art",
    metaSubtitle: "Articles about art, coding and philosophy. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
    subPages: treeNode.children ?? [],
  };
</script>