<template>
  <main class="container">
    {{> page-header}}
    <div class="container-text">
      <h1 class="sr-only">Changelog</h1>
      {{{markdown changelog }}}
      {{> page-footer}}
    </div>
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    title: "Changelog",
    pageTitle: "Changelog \u2013 Krank",
    metaImage: siteThumbnail,
    metaTitle: "Changelog \u2013 Krank Art",
    metaSubtitle: "Version history of the online portfolio. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
    changelog: `
## v1.4.0

5th January 2026

* Add Comment feature
  * Go to any post under [art](/art), and you can look at and submit 
    your own drawn comments!


## v1.3.0

25th August 2024

* Add page [Sitemap](/sitemap).
* Add blog page [Mirror a Drive](/blog/mirror-a-drive).
* Add blog page [Krank's Portfolio](/blog/krank-portfolio-website).
* Add blog page [Tetris Blocks](/blog/tetris-blocks-inline).
* Add \`server.php\` for PHP webserver deployment.
* Rework art pages
  * Add tags to all art pieces.
  * Add tag filtering to art overview.
  * Add tag linking and URL saving.
  * Add tag helper (in development to help assigning tags).
* Rework "build:html" to be easier debuggable (and slower lol)
* Rework page [Index](/) to have image carousels.
* Rework page [Art](/art) to make art more explorable.
* Rework blog to have sidebar.


## v1.2.0

31st December 2023

> **Note:** 
> * Clear your page cache for https://krank.love/ if your order of websites is messed up.
> * For Firefox, go to *Preferences --> Privacy & Security --> Cookies & Data --> Manage Data ...*, select "krank.love" and delete all data.
> * For Chrome, click on *settings icon in adress bar --> Site Settings --> Clear Data*.

* Change art to be listed chronologically instead of by name.
* Add markdown support as page type.
* Add section [blog](/blog).
* Add art pages (+44)
  * [Banjo Kazooie Flower](/art/banjo-kazooie-flower)
  * [Banjo Kazooie Music](/art/banjo-kazooie-music)
  * [Banjo Kazooie Shook](/art/banjo-kazooie-shook)
  * [Bear Blob](/art/bear-blob)
  * [Bear Bun](/art/bear-bun)
  * [Bear Embrace](/art/bear-embrace)
  * [Bear Gun](/art/bear-gun)
  * [Bear Pissed](/art/bear-pissed)
  * [Bear Plumber](/art/bear-plumber)
  * [Bear Ted](/art/bear-ted)
  * [Bear Town](/art/bear-town)
  * [Bed Hug](/art/bed-hug)
  * [Big Bun Galaxxy Thumbnail Bliss](/art/big-bun-galaxxy-thumbnail-bliss)
  * [Bull Ring](/art/bull-ring)
  * [Bun Scribbles Cocky](/art/bun-scribbles-cocky)
  * [Bun Scribbles Happy](/art/bun-scribbles-happy)
  * [Bun Scribbles Sideview](/art/bun-scribbles-sideview)
  * [Bunny Droopy](/art/bunny-droopy)
  * [Bunny Jay](/art/bunny-jay)
  * [Bunny Jay Manual](/art/bunny-jay-manual)
  * [Bunny Planet](/art/bunny-planet)
  * [Bunny Surprise Hug](/art/bunny-surprise-hug)
  * [Christmas Table](/art/christmas-table)
  * [Coyote Slim Downtown](/art/coyote-slim-downtown)
  * [Font Krank](/art/font-krank)
  * [Inkling Happy](/art/inkling-happy)
  * [Kageki Bunny](/art/kageki-bunny)
  * [Kageki Creampie](/art/kageki-creampie)
  * [Kageki Plush](/art/kageki-plush)
  * [Kageki Pony](/art/kageki-pony)
  * [Kageki Yoshi](/art/kageki-yoshi)
  * [Mune Bird](/art/mune-bird)
  * [Mune Moon](/art/mune-moon)
  * [Mune Munch](/art/mune-munch)
  * [No Thoughts Bear](/art/no-thoughts-bear)
  * [No Thoughts Bunny](/art/no-thoughts-bunny)
  * [No Thoughts Mune](/art/no-thoughts-mune)
  * [Otter Sad](/art/otter-sad)
  * [Otter Study](/art/otter-study)
  * [Penguin Meh](/art/penguin-meh)
  * [Sheep Holy](/art/sheep-holy)
  * [Sheep Town](/art/sheep-town)
  * [Wolf Neon Green](/art/wolf-neon-green)
  * [Wolf Oof](/art/wolf-oof)


## v1.1.0

26th October 2023

* Add page [art](./art) (art overview).
* Add page [changelog](./changelog).
* Add page [about](./about).
* Add individual pages per art piece.
* Add quick navigation options:
  * Press \`J\` to go to previous artwork. 
  * Press \`L\` to go to next artwork.
  * Press \`K\` to show/hide artwork description.
  * Swipe left or right to move previous/next artwork.
* Add meta data for social media previews.
* Add basic routing so \`.html\` in links is optional.
* Add more artwork (current work from 2023 and old work from 2020 and 2021).
* Clean up some of current artwork (contrast, artwork dimensions, artworking naming).
* Rework site engine to have extensive CLI and reactivity to changes.
* Publish source code for site: https://github.com/krank-art/portfolio.


## v1.0.0

10th September 2023

* Initial Release.
* Compiling current art into importable art files.
* Creating the static site generation engine.
* Registering domain and renting webserver.
      `,
  };
</script>