<template>
  <h1>Hello beautiful world</h1>
</template>

<style>
  html {
    color: red;
  }
</style>

<script>
  const module = {
    layout: "default",
    data: {
      title: "Krank",
    }
  };
</script>