<template>
  <main class="container">
    {{> page-header}}
    <ul class="media-gallery">
      {{#each mediaArt}}
      <li>
        <div class="media-thumbnail">
          <a class="media-thumbnail-link" href="art/{{this.path}}">
            <img class="media-thumbnail-image" src="media/thumbnail/{{this.fileNamePublic}}" alt="{{this.title}}"
              loading="lazy">
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
    <footer class="page-footer">
      Each character depicted belongs to their respective owner.<br>
      Krank &copy; 2023
    </footer>
  </main>
</template>

<style>
  html {
    color: white;
  }

  .page-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .page-header-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1;
  }

  .page-header-subtitle {
    font-size: 2rem;
    font-weight: lighter;
    opacity: 0.6;
    margin: 0 0 0 0.25em;
    line-height: 1;
  }

  .page-footer {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem; 
    text-align: center;
    border-top: 0.1rem solid rgba(255,255,255,0.3);
  }

  .media-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .media-gallery>* {
    margin: 0.5rem;
  }

  .media-thumbnail {
    width: 8rem;
    height: 8rem;
  }

  @media (min-width: 960px) {
    .page-header-title,
    .page-header-subtitle {
      font-size: 3rem;
    }

    .media-gallery>* {
      margin: 1rem;
    }

    .media-thumbnail {
      width: 15rem;
      height: 15rem;
    }
  }

  .media-thumbnail-link {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .media-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
  }
</style>

<script>
  export default {
    layout: "default",
    data: {
      title: "Krank",
    }
  };
</script>