<template>
  <main class="container">
    {{> page-header}}
    <ul class="media-gallery">
      {{#each mediaArt}}
      <li>
        <div class="media-thumbnail">
          <a class="media-thumbnail-link" href="art/{{this.path}}">
            <img class="media-thumbnail-image" src="media/art/240p/{{this.fileNamePublic}}" alt="{{this.title}}"
              loading="lazy">
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
    {{> page-footer}}
  </main>
</template>

<style>
</style>

<script>
  export default {
    layout: "default",
    title: "Krank",
    metaImage: siteThumbnail,
    metaTitle: "Krank Art",
    metaSubtitle: "Furry art media by Krank. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
  };
</script>