<template>
  <main class="container">
    <p>furry art</p>
    <h1>Krank</h1>
  </main>
</template>

<style>
  html {
    color: red;
  }
</style>

<script>
  const module = {
    layout: "default",
    data: {
      title: "Krank",
    }
  };
  module
</script>