<template>
  <main class="container">
    <p>furry art</p>
    <h1>Krank</h1>
    <ul class="media-gallery">
      {{#each media}}
      <li>
        <div class="media-thumbnail">
          <a class="media-thumbnail-link" href="media/{{this.fileName}}">
            <img class="media-thumbnail-image" src="media/thumbnail/{{this.fileName}}" alt="{{this.title}}"
              loading="lazy">
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
  </main>
</template>

<style>
  html {
    color: red;
  }

  .media-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .media-gallery>* {
    margin: 0.5rem;
  }

  .media-thumbnail {
    width: 9rem;
    height: 9rem;
  }

  @media (min-width: 960px) {
    .media-gallery>* {
      margin: 1rem;
    }

    .media-thumbnail {
      width: 15rem;
      height: 15rem;
    }
  }

  .media-thumbnail-link {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .media-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
  }
</style>

<script>
  const module = {
    layout: "default",
    data: {
      title: "Krank",
    }
  };
  module
</script>