<template>
  <main>
    <div class="container-text">{{> page-header}}</div>
    <div class="container-newspaper">
      <h1 class="sr-only">Sitemap</h1>
      {{> page-list items=sortedPageTree}}
    </div>
    <div class="container-text">{{> page-footer}}</div>
  </main>
</template>

<style>
</style>

<script>

  function sortChildren(node) {
    const { children } = node;
    const newNode = { ...node };
    if (!children) return newNode;
    const sortedChildren = [...children].sort((a, b) => a.title.localeCompare(b.title));
    newNode.children = sortedChildren.map(child => sortChildren(child));
    return newNode;
  }

  export default {
    layout: "default",
    title: "Sitemap",
    pageTitle: "Sitemap \u2013 Krank",
    metaImage: siteThumbnail,
    metaTitle: "Sitemap \u2013 Krank Art",
    metaSubtitle: "Overview of all pages for the online portfolio. ",
    metaAlt: siteThumbnailAlt,
    metaColor: siteColor,
    sortedPageTree: path.tree.map(node => sortChildren(node)),
  };
</script>