RewriteEngine On
DirectorySlash Off

# Append 'index' if has trailing slash as path
RewriteRule (.+)/([?#].*)?$ $1/index$2

# Display views https://example.com/about instead of https://example.com/about.html
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(?!.*\.\w{2,5}$)(.+) $1.php [L]
RewriteRule ^(?!.*\.\w{2,5}$)(.+) $1.html [L]

# Display error page
ErrorDocument 404 /404.html
