version: '3.8'

services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"

  php:
    build: .
    container_name: phpserver
    user: "1000:1000" # container user ID == host user ID; Fixes PHP not being allowed to create new dir on Ubuntu
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - mariadb
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  mariadb_data:

